[submodule "mogua-blockchain-gui"]
	path = mogua-blockchain-gui
	url = https://github.com/Mogua-Network/mogua-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Mogua-Network/mozilla-ca.git
        branch = main
