[submodule "mogua-blockchain-gui"]
	path = mogua-blockchain-gui
	url = https://github.com/Mogua-Network/mogua-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
